<div class="card">
	<div class="card-body">
		<h2 class="card-title text-center">About the page</h2>
		<p class="card-text">
			This is a project for practice NodeJS and Express.
		</p>
		<p class="card-text">
			Also how to build a web page using this technologies
		</p>
	</div>
</div>