<div>
	<div>
	</div>

	<h1>Web page with NodeJS</h1>

	<section>
		<div>
			<h2>Technologies used in the page</h2>
			<ul>
				<li>NodeJS</li>
				<li>Express</li>
				<li>Express handlebars</li>
			</ul>
		</div>
		<div>
			<h2>Images used in the page</h2>
			<ul>
				<li>
					Image by
					<a href="https://pixabay.com/users/cromaconceptovisual-4595909/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5932015">
						cromaconceptovisual
					</a>
						from 
					<a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5932015">
						Pixabay
					</a>
				</li>
			</ul>
		</div>
	</section>
</div>
