<div>
	<div>
	</div>

	<h1 class="text-center">Web page with NodeJS</h1>
	<img src="../img/mask-mobile.png" class="img-fluid rounded mx-auto d-block" alt="">
	<section>
		<div class="card card-body">
			<h2 class="text-center">Technologies used in the page</h2>
			<ul class="d-flex flex-column align-items-center">
				<li>NodeJS</li>
				<li>Express</li>
				<li>Express handlebars</li>
			</ul>
		</div>
		<div class="card card-body">
			<h2 class="text-center">Images used in the page</h2>
			<ul class="d-flex flex-column align-items-center">
				<li>
					Image by
					<a href="https://pixabay.com/users/cromaconceptovisual-4595909/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5932015">
						cromaconceptovisual
					</a>
						from 
					<a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5932015">
						Pixabay
					</a>
				</li>
			</ul>
		</div>
	</section>
</div>
