<div id="home-container">
	<div id="main-img">
	</div>

	<h1 id="title" class="text--center">Web page with NodeJS</h1>

	<section class="technologies-used-section">
		<div id="card-1" class="card">
			<h2 class="section__title text--center text--bold">Technologies used in the page</h2>
			<ul>
				<li>NodeJS</li>
				<li>Express</li>
				<li>Express handlebars</li>
			</ul>
		</div>
		<div id="card-2" class="card">
			<h2 class="section__title text--center text--bold">Images used in the page</h2>
			<ul>
				<li>
					Image by
					<a href="https://pixabay.com/users/cromaconceptovisual-4595909/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5932015">
						cromaconceptovisual
					</a>
						from 
					<a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5932015">
						Pixabay
					</a>
				</li>
			</ul>
		</div>
	</section>
</div>
